/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 29 de out. de 2025, 17:14:42
    Author     : SAMARA
*/

h1 {
    background-color: #818cf8;
    color: white;
    margin-bottom: 30px;
}

.btn-indigo {
    background-color: #818cf8;
    color: white;
}

.btn-indigo:hover {
    background-color: #6366f1; /* indigo-500 */
    color: white;
}